.PlaylistList {
    display: grid;
    grid-row-gap: .2rem;
    grid-template-columns: 1fr;
    width: 50%;
    height: 950px;
    overflow-y: scroll;
    padding: 1rem;
    background-color: rgba(1, 12, 63, 0.7);
    box-shadow: 0 4px 2px 2px #000000;
}

.PlaylistListContent {
    display: grid;
    grid-row-gap: inherit;
    grid-template-columns: 1fr;
    position:static;
    width: 100%;
}

.PlaylistListHeader {
    text-align: center;
    position: sticky;
    height: fit-content;
    margin-bottom: 2.22rem;
    top: 0;
    background-color: rgba(1, 12, 63, 1);
    padding: .88rem;

  }

.PlaylistInstance {
    display: inline-grid;
    width: 88%;
    grid-template-columns: 1fr 2fr;
    background-color: rgba(1, 12, 63, 1);
    padding: 1rem;
    background-color: rgb(4, 21, 48, 0);
    box-shadow: 0 1px .5px .5px #000000;

}

.PlaylistThumb img{
    border: 1px solid #ddd; 
    border-radius: 4px; 
    padding: 5px; 
    height: 1fr;
    width: 50px;
    align-content: left;
}

.PlaylistThumb img:hover {
    box-shadow: 0 0 2px 5px rgba(0, 140, 186, 0.5);
}

.PlaylistInfo {
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
}

@media only screen and (max-width: 1020px) {
    .PlaylistList {
      width: 90%;
      margin-top: 2rem;
    }
  }